*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*obj_*
.waf*
.lock-waf*
__pycache__
*.pyc
.vs/
Debug/
Debug_*/
Release/
Release_*/
*.tlog/
*.pch
*.log
*.idb
*.bin
*.vcxproj*
clang+llvm-11.1.0-x86_64-linux-gnu-ubuntu-16.04/
*.sln
*.exp
*.ilk
game/client/*/client.lib
game/server/*/server.lib
.DS_Store
build*/
.cache/
.ccache/
waf3*/
.vscode/
.depproj/
*.apk
source-engine.sln
srceng-mod-launcher/
clang+llvm-11.1.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz
WinBuild.exe
WinBuild.ini
../game
/hl2sbpp-build/hl2
hl2sbpp-build/hl2_launcher.exe — ярлык.lnk
/hl2sbpp-build/hl2mp
/hl2sbpp-build/platform
hl2sbpp-build/steam_appid.txt
